.idea
.DS_Store
build
__pycache__
*.log
*.txt
results/
profile/
.vscode/
xfuser.egg-info/
dist/*
*.mp4
scripts/
*.egg-info/
plots/
*.pt
*.pth
*.npz
*.pb
generated_images*/
original_images/
ref_images/
*.parquet
*.whl
activations/
*.ipynb
!compact_plot/**/*.pt
!compact_plot/**/*.ipynb
!benchmark/fid/all_dimension.txt
.ipynb_checkpoints/
sample_videos*/